@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    margin: 0 auto;
    text-shadow:0px 0px 15px rgba(0, 0, 0);
}

.logo-container a {
    text-shadow:0px 0px 15px rgba(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-family: 'MINECRAFT', sans-serif;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    padding-right: 2rem;
}

.menu li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'MINECRAFT', sans-serif;
}

.mobile-menu {
    display: none;
}

.logo-active {
    display: none;
}

.menu li a:is(:hover, :focus) {
    color: pink;
}

.fff {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    backdrop-filter: blur(8px);
}

.active{
    display: block;
}

.not{
    display: none;
}

@media screen and (max-width: 640px) {
    .logo {
        display: none;
    }

    .logo-active {
        display: block;
    }

    .mobile-menu {
        display: block;
        font-size: 2rem;
    }

    .menu {
        width: 100%;
        height: auto;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 48px;
        opacity: 0;
        -webkit-transition: all .26s ease-in-out;
        -moz-transition: all .26s ease-in-out;
        -ms-transition: all .26s ease-in-out;
        -o-transition: all .26s ease-in-out;
        transition: all .26s ease-in-out;

    }

    .menu.active {
        opacity: 1;
        z-index: 99;
        margin: auto;
        align-content: center;
        padding-left: 0;
        -webkit-transition: all .26s ease-in-out;
        -moz-transition: all .26s ease-in-out;
        -ms-transition: all .26s ease-in-out;
        -o-transition: all .26s ease-in-out;
        transition: all .26s ease-in-out;
    }


    .menu li {
        padding-right: 0;
    }

    .menu-link {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vw;
        padding: 10px 0;
    }
}