@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

h1{
    font-family: 'Prompt', sans-serif;
}

.home {
    font-family: 'Press Start 2P', cursive;
}

.home.dark {
    background-image: url("../pic/background.gif");
}

.home.light {
    background-image: url("../pic/backgroundL.gif");
}

.shadow {
    color: white;
    position: relative;
    left: 0;
    text-shadow:0px 0px 25px rgba(0, 0, 0);
}