@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');


.home {
    font-family: 'MINECRAFT', sans-serif;
}

.home.dark {
    background-image: url("../pic/background.gif");
}

.home.light {
    background-image: url("../pic/backgroundL.gif");
}

.shadow {
    color: white;
    position: relative;
    left: 0;
    text-shadow: 0px 0px 15px rgba(0, 0, 0);
}
